<% provide(:title, "Help") %>
<h1>Help</h1>
<img src = "http://cdn.sheknows.com/articles/2013/04/Puppy_2.jpg"></img>
 <p>
  Get help on the Ruby on Rails Tutorial at the
  <a href="http://www.railstutorial.org/#help">Rails Tutorial help
      section</a>.
  </p>
 <button>Home page</button>
  


